#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.spin {
  animation: spin 0.9s linear infinite;
}

@media (max-width: 768px) {
  #root {
    padding-bottom: 72px;
  }
}
